.c_head{
    font-size: 25px;
}
.heading{
    background-color: #556c8826;
}
.service{
    font-size: 25px;
    height: 65px;
    background-color: #67679212;
}
.bd{
    border: solid;
}
.h55{
    margin-top: -58px;
    margin-left: 60px;
    font-size: 29px;
}